#header{
    text-align: center;
    background: skyblue;
    height: 250px;
}
h1{
    text-align: center;
}
body{
    width:100%;
}
.main{
    background-color: tomato;
    height: 400px;
}
#footer{
    background-color: black;
    height: 200px;
    color: white;
}